body {
  background-color: yellow;
}

.App {
  text-align: center;
}

.next-button{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.type-buttons {
  display: flex;
  justify-content: space-around;
  
}
